.container {
  background-color: #FCFCFC;
  display: flex;
  flex: 1;
  height: 100%;
}

.appHeader {
  background-color: #2A2D33;
  width: 100%;
  box-shadow: 0px 2px 2pt 1pt rgba(0,0,0,0.1) ;
  padding: 3px;
  display: flex;
  align-content: center;
  padding-left: 8px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 2;
}

